@media (max-width: 1400px) {}

@media (max-width: 1200px) {
    .cs-menu {
        margin: 20px 0;
        gap: 10px;
    }

    .hero-content h1 {
        font-size: 48px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .hero-btn-1,
    .hero-btn-2 {
        padding: 16px 40px;
        font-size: 16px;
    }

    .promotion-cards {
        row-gap: 20px;
    }
}

@media (max-width: 1080px) {}

@media (max-width: 991px) {
    #left-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #left-nav .nav-item {
        width: 48%;
    }

    .py-20 {
        padding: 60px 0;
    }

    .winner-stats__title {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .marquee-text {
        font-size: 20px;

    }

    .marquee-img {
        width: 20px;
    }

    .promo-view-all-btn {
        margin-top: 20px;
    }

    .winners-table__head tr th:first-child,
    .winners-table__body tr td:first-child {
        padding-left: 16px;
    }

    .winners-table__head tr th,
    .winners-table__body tr td {
        white-space: nowrap;
        padding-right: 10px;
    }

    .player__name,
    .player__id,
    .game__title,
    .game__type,
    .amount__value,
    .time__label {
        white-space: nowrap;
    }

    .site-footer__about,
    .site-footer__links {
        width: 100%;
    }

    .site-footer__top {
        gap: 40px;
        flex-direction: column;
    }

    .site-footer__links-row {
        row-gap: 30px;
    }

    .site-footer__payments-logos {
        flex-wrap: wrap;
    }

    .site-footer__bottom {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 575px) {
    .py-20 {
        padding: 40px 0;
    }

    h2 {
        font-size: 30px;
    }

    #left-nav .nav-item {
        width: 100%;
    }

    .search-icon {
        width: 100%;
    }

    .cs-menu li a {
        padding: 4px 10px !important;
        border-radius: 4px;
    }

    .cs-menu li a:hover {
        background-color: #eb4a35;
        color: #fff;
    }

    .hero-content h1 {
        font-size: 32px;
        text-align: center;
    }

    .hero-content p {
        text-align: center;
    }

    .section-subtitle {
        font-size: 16px;
    }

    .hero-bt-grp {
        justify-content: center;
    }

    .winner-stats__title {
        font-size: 36px;
    }

    .live__view-all-btn {
        text-align: start;
        margin-top: 14px;
    }

    .live__title {
        font-size: 30px;
    }

    .live__subtitle {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .sports-card__action {
        width: 117px;
    }

    .sports-card__btn {
        padding: 10px 13px;
    }

    .ready__content a {
        font-size: 16px;
        padding: 12px 24px;
    }

    .site-footer__bottom {
        align-items: flex-start;
    }

    .site-footer__divider {
        display: none
    }

    .site-footer__legal {
        align-items: flex-start;
        gap: 8px;
        flex-direction: column;
    }

    .site-footer__bottom {
        flex-direction: column;
        gap: 8px;
    }

    .trusted-summary__rating {
        width: 100%;
    }

    .trusted-summary {
        margin-top: 0px;
    }
}

@media (max-width: 425px) {}

@media (max-width: 390px) {
    .hero {
        background-position: bottom center;
    }
}