@media (max-width: 1400px) {
    .provider-btns {
        justify-content: flex-start;
    }

    .all-games-card-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }

    .all-games-card-wrapper .casino-hero__video,
    .all-games-card-wrapper .casino-hero__video-media {
        min-height: auto;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .cs-menu {
        margin: 20px 0;
        gap: 10px;
    }

    .hero-content h1,
    .sport-hero-content h1 {
        font-size: 48px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .hero-btn-1,
    .hero-btn-2 {
        padding: 16px 40px;
        font-size: 16px;
    }

    .promotion-cards {
        row-gap: 20px;
    }

    .casino-hero-content h1 {
        font-size: 48px;
    }

    .casino-hero-content p {
        font-size: 16px;
    }

    .all-games-card-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }


}

@media (max-width: 1080px) {

    .sport-hero__action,
    .sport-hero-filter {
        flex-wrap: wrap;
    }

    .bet-highlight {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: start;
    }

    .bet-highlight__card {
        min-width: 296px;
    }
}

@media (max-width: 991px) {
    #left-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #left-nav .nav-item {
        width: 48%;
    }

    .py-20 {
        padding: 60px 0;
    }

    .winner-stats__title {
        font-size: 26px;
    }

    .casino-hero-wrapper {
        padding: 24px;
        border-radius: 20px;
    }

    .all-games-card-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .promotion-hero-innner {
        padding: 24px 24px 64px 24px;
    }

    .promotion-hero-innner h1 {
        margin: 12px 0 2px;
        font-size: 48px;
    }

    .promotion-hero-innner p {
        font-size: 16px;

    }

    .promotion-hero-innner a {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 24px;
        margin-top: 16px;
    }

    .vip-program-cards {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width: 768px) {
    .marquee-text {
        font-size: 20px;

    }

    .marquee-img {
        width: 20px;
    }

    .promo-view-all-btn {
        margin-top: 20px;
    }

    .winners-table__head tr th:first-child,
    .winners-table__body tr td:first-child {
        padding-left: 16px;
    }

    .winners-table__head tr th,
    .winners-table__body tr td {
        white-space: nowrap;
        padding-right: 10px;
    }

    .player__name,
    .player__id,
    .game__title,
    .game__type,
    .amount__value,
    .time__label {
        white-space: nowrap;
    }

    .site-footer__about,
    .site-footer__links {
        width: 100%;
    }

    .site-footer__top {
        gap: 40px;
        flex-direction: column;
    }

    .site-footer__links-row {
        row-gap: 30px;
    }

    .site-footer__payments-logos {
        flex-wrap: wrap;
    }

    .site-footer__bottom {
        flex-direction: column;
        gap: 20px;
    }

    .bet-highlight__card {
        border-right-width: 0px;
    }

    .upcoming-match__details {
        flex-direction: column;
        align-items: flex-start;
    }

    .upcoming-match__odds {
        margin-top: 0px;
    }

    .all-games-card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .promotion-hero-innner h1 {
        font-size: 32px;
    }

    .promotion-hero-innner {
        padding: 20px 20px 64px;
    }

    .vip-program-cards {
        grid-template-columns: repeat(2, 1fr);

    }

    .terms-row {
        margin-top: 60px;
    }
}

@media (max-width: 575px) {
    .py-20 {
        padding: 40px 0;
    }

    h2 {
        font-size: 30px;
    }

    #left-nav .nav-item {
        width: 100%;
    }

    .search-icon {
        width: 100%;
    }

    .cs-menu li a {
        padding: 4px 10px !important;
        border-radius: 4px;
    }

    .cs-menu li a:hover {
        background-color: #eb4a35;
        color: #fff;
    }

    .hero-content h1,
    .sport-hero-content h1 {
        font-size: 32px;
        text-align: center;
    }

    .hero-content p {
        text-align: center;
    }

    .section-subtitle {
        font-size: 16px;
    }

    .hero-bt-grp {
        justify-content: center;
    }

    .winner-stats__title {
        font-size: 36px;
    }

    .live__view-all-btn {
        text-align: start;
        margin-top: 14px;
    }

    .live__title {
        font-size: 30px;
    }

    .live__subtitle {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .sports-card__action {
        width: 117px;
    }

    .sports-card__btn {
        padding: 10px 13px;
    }

    .ready__content a {
        font-size: 16px;
        padding: 12px 24px;
    }

    .site-footer__bottom {
        align-items: flex-start;
    }

    .site-footer__divider {
        display: none
    }

    .site-footer__legal {
        align-items: flex-start;
        gap: 8px;
        flex-direction: column;
    }

    .site-footer__bottom {
        flex-direction: column;
        gap: 8px;
    }

    .trusted-summary__rating {
        width: 100%;
    }

    .trusted-summary {
        margin-top: 0px;
    }

    .bet-highlight__card {
        min-width: 276px;
    }

    .signup-ready {
        padding: 30px 16px;
    }

    .signup-ready a {
        margin-top: 14px;
    }

    .upcoming-match__bets {
        align-items: flex-end;
        gap: 1px;
        flex-direction: column;
    }

    .upcoming-match__odd {
        width: auto;
        flex-grow: 1;
    }

    .upcoming-match__odds {
        width: 100%;
        justify-content: center;
        gap: 8px;
    }

    .upcoming-match__filter {
        justify-content: start;
        margin-top: 12px;
    }

    .sport-betting__trending {
        justify-content: start;
        margin-top: 12px;
    }

    .upcoming-match__league h5 {
        max-width: 81px;
    }

    .casino-hero-wrapper {
        padding: 20px;
        border-radius: 16px;
    }

    .casino-hero-content h1 {
        font-size: 36px;
    }

    .all-games-card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .vip-program-cards {
        grid-template-columns: repeat(1, 1fr);

    }

    .terms-content {
        flex-direction: column;
        gap: 24px;
    }
        .active-tournament {
            padding-bottom: 0 !important;
        }
}

@media (max-width: 425px) {

    .casino-hero-stats,
    .casino-hero__card {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 390px) {
    .hero {
        background-position: bottom center;
    }

    .terms-title {
        font-size: 20px;
    }

    .terms-header h2 {
        gap: 8px;
    }

}