gap {
    margin: 0
}

body {
    font-family: "Inter Variable";
    /* font-family: "Xunga Variable Top"; */
}

:root {
    --cs-primary: #C63926;
    --cs-secondary: #365253;
    --cs-tertiary: #5E7575;
    --cs-white: #ffffff;
    --cs-black: #000;
    --cs-button: #2E3333;
}

h2 {
    font-size: 48px;
}

a {
    text-decoration: none;
}

.py-20 {
    padding: 80px 0;
}

.cs-btn {
    color: var(--cs-white);
    background-color: var(--cs-button);
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
}

.header {
    background-color: var(--cs-secondary);
}

.navbar {
    background-color: transparent;
}

.logo-img {
    width: 140px;
}

.cs-menu {}

.cs-menu li {}

.cs-menu li a {
    color: var(--cs-white);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    padding: 0 24px 0 0 !important;
}

.cs-menu li a:hover,
.cs-menu li a:focus {
    color: #eb4a35;
}

#left-nav {
    gap: 12px;
}

.search-icon {
    background: var(--cs-tertiary);
    border-radius: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counytry-select {
    background: var(--cs-tertiary);
    border-radius: 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
}

.counytry-select img {
    width: auto;
    height: auto;
}

.counytry-select span {
    color: var(--cs-white);
    font-size: 16px;
    font-weight: 500;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #fff;
    padding: 10px 20px;
    background: transparent;
}

.login-btn:hover {
    background: var(--cs-primary);
    border: 1px solid var(--cs-primary);
    transition: all 0.3s ease-in-out;
}

.signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid var(--cs-primary);
    padding: 10px 20px;
    background: var(--cs-primary);
}

.signup-btn:hover {
    background: #eb4a35;
    border: 1px solid #eb4a35;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler {
    padding: 0;
    font-size: 22px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    box-shadow: none;
}

/* hero start  */
.hero {
    background: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-row {
    min-height: calc(100vh - 93px);
    align-items: center;
    padding: 40px 0;
}

.hero-content {}

.hero-content h1 {
    font-family: "Xunga Variable Top";
    font-size: 72px;
    font-weight: 700;
    color: var(--cs-white);
    max-width: 500px;
}

.hero-content p {
    color: var(--cs-white);
    font-weight: 500;
    font-size: 24px;
    max-width: 450px;
}

.hero-bt-grp {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 24px;
}

.hero-btn-1 {
    background: #D64536;
    padding: 26px 50px;
    box-shadow: 0 6px 0 #6E2A21;
    transition: all 0.3s ease-in-out;
    font-size: 26px;
    font-weight: 700;
}

.hero-btn-1:hover {
    background: #a82a1c;
}

.hero-btn-2 {
    background: #607670;
    padding: 26px 50px;
    box-shadow: 0 6px 0 #203234;
    transition: all 0.3s ease-in-out;
    font-size: 26px;
    font-weight: 700;
}

.hero-btn-2:hover {
    background: #4a5e58;
}

.marquee {
    background: var(--cs-primary);
    padding: 16px 0;
    white-space: nowrap;
    overflow: hidden;

}

.js-marquee {
    display: flex;
    align-items: center;
    gap: 10px;
}

.marquee-text {
    font-size: 40px;
    font-weight: 700;
    color: var(--cs-white);
    font-family: "Xunga Variable Top";
}

.marquee-img {
    width: 30px;
    margin-bottom: 4px;
}

/* promotions  */
.promotion {
    background: #000;
}

.promotion-top {
    color: var(--cs-white);
    margin-bottom: 40px;
}

.section-title {
    font-weight: 600;
    font-family: "Xunga Variable Top";
    letter-spacing: 2px;
    margin-bottom: 0;
}

.section-subtitle {
    font-size: 20px;
    font-weight: 400;
}

.card-body {
    color: #fff;
}

.promo-card__body {
    position: relative;
}

.promo-card__header {
    padding: 24px;

    border-radius: 16px 16px 0 0;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0;
    border-radius: 16px 16px 0 0;
    border-color: #ffffff3d;
}

.promo-card__header1 {
    background: #182324;
}

.promo-card__header2 {
    background: linear-gradient(90deg, #F7931A 0%, #FF9500 100%);
}

.promo-card__header3 {
    background: linear-gradient(90deg, #C63926 0%, #d34333 100%);
}

.promo-card__header4 {
    background: linear-gradient(90deg, #4F625D 0%, #365253 100%);
}

.promo-card__header-border {}

.promo-card__image {
    max-width: 56px;
}

.promo-card__title {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 6px;
}

.promo-card__subtitle {
    font-size: 16px;
}

.promo-card__content {
    padding: 24px;
    background: #181E1F;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    border-radius: 0 0 16px 16px;
    border-color: #ffffff3d;
}

.promo-card__description {
    font-size: 14px;
    color: #ffffffd1;
    max-width: 250px;
}

.promo-card__timer {
    display: flex;
    align-items: baseline;
    gap: 4px;
    margin: 10px 0 18px;
}

.promo-card__timer-icon {
    display: block;
    width: 16px;
}

.promo-card__timer-text {
    font-size: 12px;
    color: #ffffff99;
    flex-grow: 1;
    display: block;
}

.card-btn {
    display: block;
    border: 1px solid #ffffff3d;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 13px 0;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.card-btn:hover {
    background: var(--cs-primary);
    border: 1px solid var(--cs-primary);
}

.promo-card__btn {}

.promo-card__badge {
    position: absolute;
    top: 16px;
    right: 16px;
}

.promo-card__badge h5 {
    font-size: 12px;
    padding: 10px 13px;
    border: 1px solid #ffffff85;
    border-radius: 30px;
}

.promo-card__badge1 {
    background: #454E4F;
}

.promo-card__badge2 {
    background: #FCA835;
}

.promo-card__badge3 {
    background: #D86658;
}

.promo-card__badge4 {
    background: #617676;
}

.promo-view-all-btn {
    background: #d34333;
    padding: 18px 32px;
    display: inline-block;
    margin-top: 40px;
}

.promo-view-all-btn span {
    font-size: 16px;
    font-weight: 700;
}

.promo-view-all-btn img {
    max-width: 20px;
}

/* winner  */
.winner {
    background: #0E1718;
}

.winners-table {
    --bs-table-bg: transparent;
    border-color: #ffffff0d;
    border-radius: 16px;
    overflow: hidden;
    border-left: 1px solid #ffffff17;
    border-right: 1px solid #ffffff17;
    border-collapse: separate;
    border-spacing: 0;
}

.winners-table__head {
    background: #262E2F;
}

.winners-table__head tr {}

.winners-table__head tr th {
    font-size: 12px;
    color: #ffffff8c;
    font-weight: 600;
    padding: 16px 0;
}

.winners-table__head tr th:first-child,
.winners-table__body tr td:first-child {
    padding-left: 32px;
}

.winners-table__body {}

.winners-table__body tr {
    background: #182021;
}

.winners-table__body tr td {
    padding: 20px 0;
    vertical-align: middle;
}

.player {}

.player__wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.player__wrapper img {
    width: 44px;
}

.player__info {
    flex-grow: 1;
}

.player__name {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
}

.player__id {
    font-size: 12px;
    color: #ffffff6b;
}

.game {}

.game__info {}

.game__title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
}

.game__type {
    font-size: 12px;
    color: #ffffff6b;
}

.amount {}

.amount__value {
    margin-bottom: 0;
    color: #EE9B00;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 18px;
    border: 1px solid #ee9b0045;
    background: #ee9b001f;
    border-radius: 8px;
    display: inline-block;
}

.time-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.time span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #EE9B00;
}

.time__label {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff94;
    margin-bottom: 0;
}

.winners-table__footer {
    background: #262E2F;
}

.winners-table__footer tr {}

.winners-table__footer tr td {
    padding: 20px 16px;
}

.load-more-btn {
    background: #d34333;
    padding: 12px 34px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.load-more-btn:hover,
.promo-view-all-btn:hover {
    background: #a82a1c;
}

.winner-stats-row {
    margin-top: 20px;
    row-gap: 20px;
}

.winner-stats {
    border-radius: 16px;
    padding: 25px;
    text-align: center;
}

.winner-stats1 {
    border: 1px solid #c639264f;
    background: #c6392629;
}

.winner-stats2 {
    background: #ee9b002e;
    border: 1px solid #ee9b0040;
}

.winner-stats3 {
    background: #60767024;
    border: 1px solid #60767040;
}

.winner-stats__title {
    font-family: "Xunga Variable Top";
    font-weight: 600;
    color: #fff;
    font-size: 36px;
    letter-spacing: 3px;
}

.winner-stats__value {
    font-size: 14px;
    font-weight: 500;
    color: #ffffffb0;
}

/* live casino  */
.live {
    background: #0E1718;
}

.live__header {}

.live__title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
    font-family: "Xunga Variable Top";
    margin-bottom: 0px;
}

.live__subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff94;
    margin-bottom: 0;
}

.live__view-all-btn {
    text-align: end;
}

.live__view-all-btn a {
    border: 1px solid #ffffff38;
    padding: 12px 26px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.live__view-all-btn a:hover {
    border: 1px solid var(--cs-primary);
    background: var(--cs-primary);
}

.live__cards {
    margin-top: 32px;
    row-gap: 20px;
}

.live-card1 {
    background: url(../images/l1.png);
}

.live-card2 {
    background: url(../images/l2.jpg);
}

.live-card3 {
    background: url(../images/l3.jpg);
}

.live-card4 {
    background: url(../images/l4.jpg);
}

.live-card5 {
    background: url(../images/t1.png);
}

.live-card6 {
    background: url(../images/t2.jpg);
}

.live-card7 {
    background: url(../images/t3.jpg);
}

.live-card8 {
    background: url(../images/t4.jpg);
}

.live-card {
    min-height: 194px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.live-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 80%, transparent 100%);
    z-index: 0;
}

.live-card__badge {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--cs-primary);
    padding: 4px 8px;
    border-radius: 30px;
    width: 60px;
    justify-content: center;
    position: absolute;
    top: 16px;
    left: 16px;
}

.live-card__status-dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}

.live-card__status-text {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.live-card__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    z-index: 1;
}

.live-card__title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 4px;
}

.live-card__dealer {
    font-size: 12px;
    font-weight: 500;
    color: #ffffffa3;
    margin-bottom: 0;
}

.live-card__viewers {
    display: flex;
    align-items: center;
    gap: 4px;
}

.live-card__viewer-icon {
    width: 12px;
}

.live-card__viewer-count {
    color: #EE9B00;
    font-size: 12px;
    font-weight: 700;
}

/* top slots  */
.top-slot {
    background: #000;
}

.live-card__play {}

.live-card__play a {
    display: inline-block;
    background: #EE9B00;
    padding: 8px 22px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.live-card__play a:hover {
    background: var(--cs-primary);
}

.top-card {
    min-height: 250px;
    background-position: top center;
}

/* sport-betting  */
.sport-betting {
    background: #0C1415;
}

.sport-cards {
    margin-top: 32px;
    row-gap: 20px;
}

.sports-card {
    background: #1F2829;
    border: 1px solid #ffffff24;
    padding: 20px;
    border-radius: 12px;
}

.sports-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sports-card-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.sports-card__icon {
    max-width: 42px;
}

.sports-card__title {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff94;
    margin-bottom: 0;
}

.sports-card__status {
    padding: 6px 10px;
    background: #2B3334;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.sports-card__status-icon {
    width: 12px;
}

.sports-card__status-text {
    font-size: 12px;
    font-weight: 700;
    color: #ffffffb5;
}

.sports-card__body {
    margin-top: 26px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sports-card__odds {
    border: 1px solid #ffffff29;
    border-radius: 12px;
    padding: 10px 14px;
    flex-grow: 1;
}

.sports-card__odds-label {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff91;
}

.sports-card__odds-value {
    color: #EE9B00;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 0 0;
}

.sports-card__action {
    width: 132px;
}

.sports-card__btn {
    background: #C63926;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: all 0.3s ease-in-out;
}

.sports-card__btn:hover {
    background: #b42d1c;
}

.sports-card__btn img {}

.sports-card__btn span {
    font-weight: 700;
}

.sport-view-all-btn {
    border: 1px solid #ffffff38;
    background: #252C2D;
    transition: all 0.3s ease-in-out;
}

/* whybet  */
.whybet {
    background: #0C1415;
}